@use "sass:map";

$map_color: (
  color1: red,
  color2: blue,
  color3: green,
  color4: yellow,
  color5: purple
);

body {
  background-color: map.get($map_color, color1);
  color: map.get($map_color, color3);
}
footer {
  background-color: map.get($map_color, color5);

}
