%clearfix{
  &::after {
    content: "";
    clear: both;
    display: block;
  }
}
.test-mixin {
  @extend %clearfix;
}

.left_box {
  border: 1px solid cornflowerblue;
  width: 100px;
  height: 100px;
  float: left;
}

.right_box {
  border: 1px solid cornflowerblue;
  width: 100px;
  height: 100px;
  float: right;
}
.container {
  border: 1px solid cornflowerblue;

}

%box__style {
  width: 400px;
  height: 100px;
  margin-bottom: 20px;
  border-radius: 2px;
}
.success {
  @extend %box__style;
  background-color: lime;

}
.error {
  @extend %box__style;
  background-color: palevioletred;
}
.info {
  @extend %box__style;
  background-color: lightblue;
}